<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562931642529-ac59thgcvvvu1cg99h46i0uj1gosenbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562931642529-ac59thgcvvvu1cg99h46i0uj1gosenbf</string>
	<key>API_KEY</key>
	<string>AIzaSyAIMR0imNX8NNzPtEL2vQPSvdnwQPfvNls</string>
	<key>GCM_SENDER_ID</key>
	<string>562931642529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaarthu.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-ca052</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-ca052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562931642529:ios:73775dd4be3e779f6a80e0</string>
</dict>
</plist>